.imgEmpresa{
    width: 100%;
    height: 80vh;
    justify-items: center;
    
}
.bgEmpresa{
    background-image: url(/img/garagem.png);
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 100%;
}
.descricaoSobre{
    margin: 0 20%;
    
}
.texto{
    margin-top: 1%;
}
.imgTexto{
    margin-top: 2%;
    display: flex;
    gap: 8px;
}